{% extends "navbar.html" %}

{% block body %}

<div class="container" style="margin-top: 10%;">
    <table class="table">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Year</th>
            <th>Colour</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for obj in data %}
        <tr>
            <td>{{obj.brand}}</td>
            <td>{{obj.model}}</td>
            <td>{{obj.price}}</td>
            <td>{{obj.year}}</td>
            <td>{{obj.color}}</td>
            <td><a href="{% url 'mob-view' obj.id %}">View</a></td>
            <td><a href="{% url 'mob-edit' obj.id %}">Update</a></td>
            <td><a href="{% url 'mob-del' obj.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}